Reference/

MyPlayground.playground/contents.xcplayground

MyPlayground.playground/playground.xcworkspace/contents.xcworkspacedata

MyPlayground.playground/playground.xcworkspace/xcuserdata/amarrone.xcuserdatad/UserInterfaceState.xcuserstate

MyPlayground.playground/timeline.xctimeline
